<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
    <link rel="stylesheet" href="/js/katex.min.css">
    <script src="/js/katex.min.js"></script>
    <script>
        $("script[type='math/tex']").replaceWith(function() {
            var tex = $(this).text();
            return katex.renderToString(tex, {displayMode: false});
        });
      
        $("script[type='math/tex; mode=display']").replaceWith(function() {
            var tex = $(this).html();
            return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
        });
      </script>

  </body>

</html>
